BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 80
AccessModifierOffset: -4
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
#AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: false
BreakBeforeBraces: 'Custom'
BraceWrapping:
  AfterClass: true
  AfterEnum: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
BreakBeforeBinaryOperators: All
